---
import CardDetailed from "./Partials/CardDetailed.astro";
import type { Education } from "../types";

type Props = {
    educations: Education[];
};

const { educations }: Props = Astro.props;
---

<section class="flex min-h-0 flex-col gap-y-3">
    <h2 class="text-xl font-bold">Educación</h2>
    {
        educations.map(({ area, endDate, startDate, institution, url }) => {
            return (
                <CardDetailed
                    title={institution}
                    summary={area}
                    startDate={startDate}
                    endDate={endDate}
                    url={url}
                />
            );
        })
    }
</section>
